
<a-entity nav-button="label:Physics; shape:circle; radius:0.2; textColor:#FEFEFE; textAlign:right; textOffset:0; textOnHover:true;
      image:/examples/basic/images/test.png; name:link; link:activitiesPhysics; linkName:Phys" position="-0.8 0 0.05"></a-entity>

<a-entity nav-button="label:Chemistry; shape:circle; radius:0.2; textColor:#FEFEFE; textAlign:right; textOffset:0; textOnHover:true;
      image:/examples/basic/images/test.png; name:link; link:activitiesChem; linkName:Chem" position="0 0 0.05"></a-entity>

<a-entity nav-button="label:Biology; shape:circle; radius:0.2; textColor:#FEFEFE; textAlign:right; textOffset:0; textOnHover:true;
       image:/examples/basic/images/test.png; name:link; link:activitiesBio; linkName:Bio" position="0.8 0 0.05"></a-entity>