<a-entity ui-push-button="name:gen-ctrl-volt-plus; label:+; width:0.2; height:0.2; color:#02C500;" position="-0.6 0.2 0"></a-entity>
<a-entity ui-push-button="name:gen-ctrl-volt-minus; label:-;  width:0.2; height:0.2; color:#DC210F;" position="-0.35 0.2 0"></a-entity>
<a-text value="Voltage:" position="-0.2 0.2 0" width="3"></a-text>
<a-text class="generator-voltage" value="0" position="0.5 0.2 0" width="3"></a-text>
<a-text value="volts" position="0.5 0.10 0.001" width="1"></a-text>

<a-entity ui-push-button="name:gen-ctrl-amp-plus; label:+; width:0.2; height:0.2; color:#02C500;" position="-0.6 -0.2 0"></a-entity>
<a-entity ui-push-button="name:gen-ctrl-amp-minus; label:-; width:0.2; height:0.2; color:#DC210F;" position="-0.35 -0.2 0"></a-entity>
<a-text value="Current:" position="-0.2 -0.2 0" width="3"></a-text>
<a-text class="generator-amperage" value="0" position="0.5 -0.2 0" width="3"></a-text>
<a-text value="amps" position="0.5 -0.30 0.001" width="1"></a-text>

<!--<a-entity class="generator-on-off" ui-push-button="name:gen-ctrl-on-off; label:Off; width:0.45; color:#DC210F;" position="-0.475 0.5 0"></a-entity>-->