<a-text value="Settings Page" align="center" position="0 0.5 0"></a-text>

<a-entity nav-button="label:Home; shape:circle; radius:0.2; textColor:#FEFEFE; textWidth:3; textAlign:above; textOnHover:true;
      image:images/square.png; name:link; link:home; linkName:Home" position="-0.8 -0.2 0.0"></a-entity>

<a-entity nav-button="label:Settings; shape:circle; radius:0.2; textColor:#FEFEFE; textWidth:3; textAlign:above; textOnHover:true;
      image:images/triangle.png; name:link; link:settings; linkName:Settings" position="0 -0.2 0.0"></a-entity>

<a-entity nav-button="label:Profile; shape:circle; radius:0.2; textColor:#FEFEFE; textWidth:3; textAlign:above; textOnHover:true;
      image:images/diamond.png; name:link; link:profile; linkName:Profile" position="0.8 -0.2 0.0"></a-entity>