
<a-entity position="-1.5 0.5 0" rotation="-10 30 0">
  <a-entity ui-push-button="label:Activities; shape:circle; radius:0.2; textColor:#FEFEFE; textAlign:right; textOffset:0; textOnHover:true;
      image:images/test.png; name:menu-activities;" position="0 0 0"></a-entity>
  <a-entity ui-push-button="label:Sandbox; shape:circle; radius:0.2; textColor:#FEFEFE; textAlign:right; textOffset:0.1; textOnHover:true;
      image:images/sandbox.jpg; name:menu-sandbox" position="0 -0.6 0"></a-entity>

  {# <a-entity ui-shape-button="" position="0 -1.2 0"></a-entity> #}
   <a-entity ui-push-button="label:Disabled; shape:circle; radius:0.2; color:#454545; textColor:#FEFEFE; textAlign:right; textOffset:0; textOnHover:true;" position="0 -1.2 0"></a-entity> 
   <a-entity ui-push-button="label:Disabled; shape:circle; radius:0.2; color:#454545; textColor:#FEFEFE; textAlign:right; textOffset:0; textOnHover:true;" position="0 -1.8 0"></a-entity> 
</a-entity>
